<!DOCTYPE html>

<html>

<head>

    <link rel="Stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <img src="./img/4mb test image.png">
    {{!-- <p>Created by {{author}}</p> --}}
</body>

<footer>
    {{>footer}}
</footer>
</html>